*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  max-width: 100%;
  height: auto;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  height: 30%;
}

.form-group {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

label {
  text-align: right;
  margin-right: 10px;
  color: #049505;
}

input {
  border: 3px solid #EA96EC;
  border-radius: 10px;
  /* max-width: 100%;
  height: 30px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #EA96EC; */
}

.button {
 /* margin-top: 10px; */
  background-color: #EA96EC;
  /* height: 30px; */
  border-radius: 10px;
}
